body{
    margin: auto;
    text-align: center;
    width: 1800px;
}
.tren{
    width: 100%;
    height: 60px;
}
.thu2{
    width: 100%;
    margin-left: 300px;
    height: 60px
}
header{
    float: left;
}
nav{
    float: left;
    margin-left: 500px;
    margin-top: 10px;
}
nav>a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
}
.nutMenu{
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 10px;
}
.noidung1{
    background-color: rgba(219, 211, 211, 0.062);
    width: 100%;
    height: 600px;
}
.noidung1 .text{
    float: left;
    margin-left: 250px;
    height: 150px;
    margin-top: 100px;
}
.text>p{
    margin-left: 0px;
    text-align: left;
}
.text2{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    border-radius: 40px;
    background-color: rgb(156, 9, 9);
}

.anh1{
    float: right;
}
.noidung2{
    margin-top: -10px;
    width: 100%;
    height: 1100px;
    background-color: aliceblue;
}
.noidung2>.goi{
    margin-left: 200px;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
}
.slogan{
    width: 100%;
    height: 60px;
}
.sp{
    width: 20%;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    float: left;
    margin-top: -30px;
    margin-left: 100px;
    background-color: rgb(238, 238, 238);
}
.sp>img{
    margin-top:-50px ;
}
.bsp{
    margin-top: 50px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 30px;
}
article{
    width: 100%;
    height: 500px;
    background-color: rgb(221, 220, 220);
}
.goi2{
    margin-left: 100px;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
}
.sp1{
    width: 20%;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    float: left;
    margin-top: -30px;
    margin-left: 20px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    font-size: larger;
}
.sp1>img{
    width: 20%;
    float: left;
}
.sp1>p{
    width: 80%;
    margin-left: 50px;
    font-size:25px ;
}
h1{
    margin: 0px;
    padding: 10px;
}
h2{
    margin: 0px;
    padding: 10px;
}